*{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

header>h1{

    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

div>table{

    margin: auto;
}

.container{

    max-width: 60%;
    max-height: 30%;
    margin: auto;
    padding: 30px;
    background-color: aliceblue;
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;

}

.pictures-container{

    max-width: 50%;
    margin: auto;
    text-align: center;
}

.pictures-container>img{

    max-width: 30%;
    margin-bottom: 20px;
}

.todo-list{

    text-align: center;
}

.todo-list>ul{

    display: inline-block;
    text-align: left;
}

.todo-list>h3{

    margin-top: 20px;
    margin-bottom: 15px;
}
.info-section{

    text-align: center;

}

.info-section>ol{

    text-align: left;
    display: inline-block;

}

.info-section>h3{

    margin-top: 20px;
    margin-bottom: 15px;
}

.pictures-section>h3{

    margin-top: 20px;
    margin-bottom: 15px;

}

